.scheduling{
    width: 996px;
    height: 365px;
    /* overflow: hidden; */
    /* display: inline-block; */
    position: relative;
    margin-top:100px;
    border:1px solid #ccc;
    /* z-index:-1; */
}
.scheduling img{
    margin-top:-1px;
}
.scheduling .con-left,
.scheduling .con-right
{
    width: 34px;
    height: 300px;
    background:#f1f8ff;
    border:1px solid #ccc;
    /* float: left; */
    position: absolute;
   
    margin:-1px 0 0 -1px;
}
.scheduling .con-right{
    right:275px;
}
.scheduling .con-middle{
    position: absolute;
    /* border:1px solid #ccc; */
    left:35px;
    top:-1px;
    overflow: hidden;
    width: 651px;
    height: 302px;
}
.scheduling .con-middle .schedule{
    width: 9999px;
    position: absolute;
    top:0;
    left:0;
}
.scheduling .con-middle .schedule-item{
    float: left;
   width: 94px;
   margin-left:-1px;
}
.scheduling .con-middle .schedule-item .date{
    height: 45px;
    border:1px solid #ccc;
    font-size:12px;
    text-align: center;
    line-height: 22px;
}
.scheduling .con-left .morning,
.scheduling .con-left .afternoon,
.scheduling .con-left .night,
.scheduling .con-middle .schedule-item .morning,
.scheduling .con-middle .schedule-item .afternoon,
.scheduling .con-middle .schedule-item .night
{
    border:1px solid #ccc;
    height: 84px;
    margin-top:-1px;
    line-height: 84px;
    text-align: center;
    font-size:12px;
}
.scheduling .con-left .morning,
.scheduling .con-left .afternoon,
.scheduling .con-left .night{
    border:0;
}
.scheduling .rule{
    border:1px solid #ccc;
    height: 300px;
    position: absolute;
    right:-1px;
    top:-1px;
    
}
.scheduling .rule .rule-caption{
    background: #fff;
}
.scheduling .rule .rule-content{
    height: 250px;
}
.scheduling .con-bottom{
    width: 100%;
    height: 64px;
    text-align: center;
    position: absolute;
    bottom:0;
    /* background:#ccc; */
    line-height: 64px;
    color:#878787;
}
.scheduling .con-bottom img{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:400px;
}
.scheduling .roomTitle{
    font-size:18px;
    position: absolute;
    top:-30px;
    left:0;
}
.scheduling .back{
    position: absolute;
    top:-28px;
    left:110px;
    font-size:16px;
    color:skyblue;
}
.scheduling  .con-middle .afternoon{
    background:#e1eefe;
    color:#49b4ec;
}
.scheduling  .date{
    color:#878787;
}